<!DOCTYPE html>
<HTML lang="en">
    <HEAD>
        <TITLE>HBNB</TITLE>
    </HEAD>
    <BODY>
        <H1>States</H1>
        <UL>
        {% for key in list_s.values() | sort(attribute='name') %}
                <LI>{{ key.id }}: <B>{{ key.name }}</B>
                        {% for c in key.cities | sort(attribute='name') %}
                        <UL>
                                <LI>{{ c.id }}: <B>{{ c.name }}</B></LI>
                        </UL>
                        {% endfor %}
                </LI>
        {% endfor %}
           </UL>
    </BODY>
</HTML>
